[submodule "uhd"]
	path = uhd
	url = https://github.com/EttusResearch/uhd.git
	tag = v4.6.0.0
[submodule "openairinterface5g"]
	path = openairinterface5g
	url = https://gitlab.eurecom.fr/oai/openairinterface5g.git
	branch = develop
[submodule "swig"]
	path = swig
	url = https://github.com/swig/swig.git
	branch = release-4.1
[submodule "flexric"]
	path = flexric
	url = https://gitlab.eurecom.fr/mosaic5g/flexric
	commit = f1c08ed2b9b1eceeda7941dd7bf435db0168dd56
